h1 {
    text-align: right;
    width:50%;
    /* text-decoration: red dotted line-through; */
    text-decoration-style: dotted;
    text-decoration-color: red;
    text-decoration-line: line-through;
}

p {
    font-weight:900;
    line-height: 2.5;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: sans-serif;;
}