<!DOCTYPE html>
<html lang="en">
<%- include("includes/head.ejs") %>
<body>
    <h1>New Chat</h1>
    <form action="/chats/new" method="POST">
        <label for="from">From: </label>
        <input type="text" name="from" id="from"> <br>
        <label for="to">To: </label>
        <input type="text" name="to" id="to"> <br>
        <label for="msg">Message: </label>
        <textarea name="msg" id="msg"></textarea> <br>
        <button type="submit">send</button>
    </form>
</body>
</html>